* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* Resetting browser styles */

html {
  font-size: 62.5%;
} /* 1 rem = 10 px*/

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.qr-parent {
  background-color: white;
  max-width: 30rem;
  height: 46rem;
  text-align: center;
  margin: 1.5rem;
  padding: 0 1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 10px 10px hsla(0, 0%, 85%, 0.651);
}

.qr-code-img {
  width: 25rem;
  border-radius: 1.2rem;
  margin-top: 1.5rem;
}

h3 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 2rem;
  width: 13em;
  margin: 2rem auto;
  line-height: 2.5rem;
}

p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 1.4rem;
  width: 17em;
  margin: 1rem auto;
  line-height: 2rem;
}
